<ion-card class="bk-white">
  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="avatar" alt="" />
      </ion-avatar>
      <ion-label>
        <h2 class="card-title">{{ name }}</h2>
        <app-star-rating #rating activeIcon="ios-star"
            defaultIcon="ios-star-outline" activeColor="#ffce00" defaultColor="#a6b0bf" readonly="true"
            rating="{{ rate }}" fontSize="14pt">
          </app-star-rating>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    {{ text }}
  </ion-card-content>
</ion-card>