<ion-card class="icon-card ion-text-center bk-white ion-padding ion-no-margin">
  <ion-card-header>
    <div class="round-back" [ngClass]="info.color">
      <ion-icon [src]="info.url"></ion-icon>
    </div>
  </ion-card-header>
  <ion-card-title>
    <p>{{info.name}}</p>
  </ion-card-title>
</ion-card>