<ion-header class="ion-no-border">
	<ion-toolbar [appHideheader]="scrollArea">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title color="secondary">Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content #scrollArea [scrollEvents]="true">
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-list>
					<ion-item>
						<ion-label>
							<h2>Personal information</h2>
							<p>Changes your personal information</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>Payment information</h2>
							<p>Manage your payment information</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>Notifications</h2>
							<p>Manage the notifications in the app</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>Language</h2>
							<p>Manage your language and geolocation values</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>Security</h2>
							<p>Manage your security settings</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>Help</h2>
							<p>How to and Q&A to help you</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-label>
							<h2>About</h2>
							<p>General information about the app</p>
						</ion-label>
						<ion-icon slot="end" name="arrow-forward"></ion-icon>
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button
					fill="outline"
					color="tertiary"
					class="button-size center-button"
					expand="block"
					>Delete account</ion-button
				>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
