:root {
  --ion-color-primary: #21a472;
  --ion-color-primary-rgb: 33, 164, 114;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1d9064;
  --ion-color-primary-tint: #37ad80;

  --ion-color-secondary: #223e5c;
  --ion-color-secondary-rgb: 34, 62, 92;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1e3751;
  --ion-color-secondary-tint: #38516c;

  --ion-color-tertiary: #f7685b;
  --ion-color-tertiary-rgb: 247, 104, 91;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d95c50;
  --ion-color-tertiary-tint: #f8776b;

  --ion-color-success: #21a472;
  --ion-color-success-rgb: 33, 164, 114;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1d9064;
  --ion-color-success-tint: #37ad80;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f7685b;
  --ion-color-danger-rgb: 247, 104, 91;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d95c50;
  --ion-color-danger-tint: #f8776b;

  --ion-color-dark: #223e5c;
  --ion-color-dark-rgb: 34, 62, 92;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e3751;
  --ion-color-dark-tint: #38516c;

  --ion-color-medium: #a6b0bf;
  --ion-color-medium-rgb: 166, 176, 191;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #929ba8;
  --ion-color-medium-tint: #afb8c5;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: "Poppins", sans-serif;
}

body {
  --ion-background-color: #f9fafb;
  --ion-background-color-rgb: 249, 250, 251;
}

:focus {
  outline: none;
}
