<ion-header class="ion-no-border">
	<ion-toolbar [appHideheader]="scrollArea">
		<ion-grid>
			<ion-row>
				<ion-col class="flex-container">
					<div class="left-side">
						<span>Hello</span>
						<h5>Pawan</h5>
					</div>
					<div class="right-side">
						<div class="inbox-icon" [routerLink]="['/my-appointments']">
							<ion-icon src="/assets/icons/inbox.svg"></ion-icon>
							<ion-badge color="danger">1</ion-badge>
						</div>
						<ion-avatar [routerLink]="['/settings']" class="ion-no-margin">
							<img src="https://media-exp1.licdn.com/dms/image/C4D03AQFOqLR8Hv2SHg/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=31apFgEnJpfqUw_EVSJ9QvTa2QAzh2u6ONMdQYzY-wA"/>
						</ion-avatar>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>

<ion-content  #scrollArea scrollEvents="true">
	<ion-grid>
		<ion-row>
			<ion-col>
				<h5>How can we help you?</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-searchbar animated></ion-searchbar>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4" *ngFor="let item of cardInf">
				<app-card-info [routerLink]="'/category/' + item.id" [info]="item"></app-card-info>
			</ion-col>
			
    	</ion-row>    
	</ion-grid>
  	<ion-grid>
    	<ion-row>
			<ion-col class="profile-title">
				<h5>Most viewed</h5>   
			</ion-col>
        </ion-row>
        <ion-row>
          	<ion-col>
				<app-card-categories [routerLink]="'/profile/' + item.id" *ngFor="let item of data; let i = index"
				[name]="item.name"
				[avatar]="item.avatar"
				[reviews]="item.reviews"
				[distance]="item.distance"
				[info]="item.info"
				></app-card-categories>
          	</ion-col>
        </ion-row>
  	</ion-grid>
</ion-content>
