.card-title {
  font-size: 11pt;
  color: #223e5c;
  white-space: normal;
}

.card-subtitle {
  color: #a6b0bf;
  font-size: 10pt;
  font-weight: 400;
}

ion-card-content {
  font-size: 11pt;
  font-weight: 400;
  color: rgba(34, 62, 92, 0.8);
}

.ion-badge {
  background: rgba(110, 213, 176, 0.6);
  font-weight: 400;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: #fff;
}

ion-avatar {
  width: 48px;
  height: 48px;
}
